<div class="row">
  <mat-card class="example-card">
    <mat-card-header>
      <!-- <img  style="left:10%;" src="https://dialogflow.com/_static/a3b4f28066/images/dialogflow/lockup.svg"> -->
      <mat-card-title>Diana</mat-card-title>
      <mat-card-subtitle>AI Bot</mat-card-subtitle>
      <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/c/cc/Amazon_Alexa_App_Logo.png" width="60px" height="60px;"> -->
    </mat-card-header>
    
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
        <form [formGroup]="queryForm">
            <mat-form-field class="full-width">
              <input matInput placeholder="Ask Diana..."
              formControlName="query">
            </mat-form-field>
            <button type="button" mat-raised-button color="primary" (click)="sendAlexa()"  [disabled]="!this.queryForm.valid">Alexa</button>
            <button type="button" mat-raised-button color="warn" (click)="sendDialogFlow()" [disabled]="!this.queryForm.valid">API.AI</button>
          </form>
      <div>
        <mat-form-field class="full-width">
          <textarea class="requestDiv" matInput disabled="disabled" [value]="request.apiai"
          ></textarea>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width">
          <textarea class="requestDiv" matInput disabled="disabled" placeholder="Alexa Request"
          [value]="request.alexa"
          ></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
      <mat-card-header>
        <img src="https://dialogflow.com/_static/a3b4f28066/images/dialogflow/lockup.svg" width="100px">
        <!-- <mat-card-title>DialogFlow</mat-card-title>
        <mat-card-subtitle>Response</mat-card-subtitle> -->
      </mat-card-header>
  
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-card-content>
          <div id="apiaiResId" style="color:darkgreen;" *ngIf="response.apiai!==''">
              <pre>{{response.apiai | json}}</pre>
          </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
          <img src="https://upload.wikimedia.org/wikipedia/commons/c/cc/Amazon_Alexa_App_Logo.png" width="50px;" height="50px;">
          <!-- <mat-card-title>Alexa</mat-card-title>
          <mat-card-subtitle>Response</mat-card-subtitle> -->
        </mat-card-header>
    
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <div id="alexaResId" style="color:darkgreen;" *ngIf="response.alexa!==''">
                <pre>{{response.alexa | json}}</pre>
            </div>
        </mat-card-content>
      </mat-card>

</div>
